{% extends "base.html" %}

{% block content %}
    <h2>Votre flux</h2>

    <div>
        <a href={% url 'create_ticket' %}>Demander une critique</a>

        <a href={% url 'create_ticket_and_review' %}>Créer une critique</a>
    </div>

    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            <div class="ticket">
                {% include "reviews/partials/ticket_snippet.html" with ticket=post %}

                {% if not post.has_reviewed %}
                    <div class="ticket__actions">
                        <a href={% url 'create_ticket_review post.id' %}>Créer une critique</a>
                    </div>
                {% endif %}
            </div>

        {% elif post.content_type == 'REVIEW' %}
            <div class="review">
                {% include "reviews/partials/review_snippet.html" with review=post %}

            </div>

        {% endif %}

    {% endfor %}
{% endblock content %}
