{% extends "base.html" %}

{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
    <form method="post">
        {{ follow_form.as_p }}
        {% csrf_token %}
        <button type="submit">Confirmer</button>
    </form>

    <h2>Abonnements</h2>
    {% for followed_user in followed_users %}
        <div class="followed_user">
            <p>{{ followed_user.username }}</p>
            <a href={% url 'unfollow_users' followed_user.id %}>Désabonner</a>
        </div>
    {% empty %}
        <p>Vous ne suivez personne pour le moment.</p>
    {% endfor %}

    <h2>Abonnés</h2>
    {% for following_user in following_users %}
        <div class="following_user">
            <p>{{ following_user.user.username }}</p>
        </div>
    {% empty %}
        <p>Personne ne vous suit pour le moment.</p>
    {% endfor %}
{% endblock content %}
