{% extends "base.html" %}

{% load reviews_extras %}

{% block content %}
    <h2 class="text-2xl my-6">Vos posts</h2>

    {% if page_obj %}
        {% for post in page_obj %}
            {% if post.content_type == 'TICKET' %}
                <div class="ticket bg-white my-4 border-solid border border-slate-200 p-4 rounded">
                    {% include "reviews/partials/ticket_snippet.html" with ticket=post %}

                    <div class="flex justify-end my-6">
                        <a class="shadow-md border-solid border-2 p-2 border-sky-900 rounded bg-sky-900 hover:bg-sky-700 hover:shadow-none hover:border-sky-700 text-white mr-4"
                           href="{% url 'reviews:edit_ticket' post.id %}">Modifier</a>
                        <a class="shadow-md border-solid border-2 p-2 border-red-800 rounded bg-red-800 hover:bg-red-600 hover:shadow-none hover:border-red-600 text-white mr-4"
                           href="{% url 'reviews:delete_ticket' post.id %}">Supprimer</a>
                    </div>
                </div>

            {% elif post.content_type == 'REVIEW' %}
                <div class="ticket bg-white my-4 border-solid border border-slate-200 p-4 rounded">
                    {% include "reviews/partials/review_snippet.html" with review=post %}

                    <div class="flex justify-end my-6">
                        <a class="shadow-md border-solid border-2 p-2 border-sky-900 rounded bg-sky-900 hover:bg-sky-700 hover:shadow-none hover:border-sky-700 text-white mr-4"
                           href="{% url 'reviews:edit_ticket_review' post.ticket.id post.id %}">Modifier</a>
                        <a class="shadow-md border-solid border-2 p-2 border-red-800 rounded bg-red-800 hover:bg-red-600 hover:shadow-none hover:border-red-600 text-white mr-4"
                           href="{% url 'reviews:delete_ticket_review' post.ticket.id post.id %}">Supprimer</a>
                    </div>
                </div>

            {% endif %}

        {% endfor %}

        {% include "reviews/partials/paginator_snippet.html" %}

    {% else %}
        <p>Vous n'avez créé aucun post pour le moment</p>
    {% endif %}
{% endblock content %}
