{% extends "base.html" %}

{% block content %}
    <h2 class="text-2xl my-6">Inscrivez-vous</h2>

    <div class="bg-white my-4 border-solid border border-slate-200 p-4 rounded sm:w-3/5 sm:mx-auto">
        {% if form.errors %}{{ form.errors }}{% endif %}
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p class="flex justify-end">
                <button class="shadow-md border-solid border-2 p-2 border-sky-900 rounded bg-sky-900 hover:bg-sky-700 hover:shadow-none hover:border-sky-700 text-white mr-4"
                        type="submit">S'inscrire</button>
            </p>
        </form>
    </div>

    <p>
        <a class="group" href="{% url 'login' %}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 fill="currentColor"
                 class="w-6 h-6 inline-block">
                <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd" />
            </svg>
            <span class="group-hover:underline">Retour</span>
        </a>
    </p>
{% endblock content %}
