{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LitRevu</title>
        <meta charset="utf-8" />
        <meta name="description" content="LitRevu" />
        <meta name="keywords" content="LitRevu" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        {% tailwind_css %}
    </head>

    <body>
        <header>
            <h1>LitRevu</h1>

            {% if user.is_authenticated %}
                <nav>
                    <ul class="menu">
                        <li>
                            <a href={% url 'home' %}>Flux</a>
                        </li>
                        <li>
                            <a href={% url 'view_posts' %}>Posts</a>
                        </li>
                        <li>
                            <a href={% url 'follow_users' %}>Abonnements</a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="profil_picture_container">
                                    {% if request.user.profile_photo %}
                                        <img class="profil_picture"
                                             width="40px"
                                             height="40px"
                                             src="{{ request.user.profile_photo.url }}"
                                             alt="Avatar de {{ request.user }}" />
                                    {% else %}
                                        <img class="profil_picture"
                                             width="40px"
                                             height="40px"
                                             src="{% static 'assets/images/default_avatar.png' %}"
                                             alt="Avatar par défaut" />
                                    {% endif %}
                                </div>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href={% url 'upload_profile_picture' %}>Modifier la photo de profil</a>
                                </li>
                                <li>
                                    <a href={% url 'password_change' %}>Modifier le mot de passe</a>
                                </li>
                                <li>
                                    <a href={% url 'logout' %}>Se déconnecter</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </header>

        <main class="container">
            {% if messages %}
                {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
            {% endif %}
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </main>

        <footer>
            <p>© 2023 LitRevu</p>
        </footer>
    </body>
</html>
